version: "3.9"

services:
  db:
    image: postgres:15
    container_name: meu_postgres
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: mamutedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: minha_app
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: ./wait-for-db.sh db python src/Config/teste.py

volumes:
  pgdata:
