version: "3.9"

services:
  db:
    image: postgres:15
    container_name: meu_postgres
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: mamutedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U usuario"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: minha_app
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    command: python app.py

volumes:
  pgdata:
